<launch>
    <!-- 
        用法: roslaunch odin_ros_driver odin1_ros1.launch
    -->
    
    <!-- 设置节点名称 -->
    <arg name="node_name" default="host_sdk_sample"/>
    
    <!-- 启动节点 -->
    <node name="$(arg node_name)" pkg="odin_ros_driver" type="host_sdk_sample" output="screen">
    </node>
</launch>
